.modal-container{  
    margin: 2px;
    padding: 2px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: table;
    transition: opacity .3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
 
}